.header-nav {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(40, 79, 112);
  color: white;
  overflow: hidden;
  width: 100%;
}

.header-nav img {
  max-width: 150px;
  max-height: 90px;
  padding: 10px 15px;
}

.banner img {
  position: absolute;
  top: 73px;
  left: 0;
  right: 0;
  max-width: 100%;
  max-height: 1000px;
  overflow: hidden;
}

.content-main h2 {
  font-family: "Arial", serif;
  text-transform: uppercase;
  color: rgb(145, 142, 111);
  position: relative;
  width: 40%;
  top: 25em;
  left: 12em;
  padding: 10px 15px;
  margin: 20px 30px;

}
.content-main p {
  font-family: "Times New Roman", serif;
  position: relative;
  width: 35%;
  padding: 10px 15px;
  margin: 20px 30px;
  top: 32em;
  left: 18em;
}

}
